
*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'Shabnam';
  src: url('../font/Shabnam.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Yekan';
  src: url('../font/Yekan.ttf') format('truetype');
 
}
.txt-dis-log{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Yekan' !important;
  color: #627B7C;
  margin-bottom: 32px !important;
}
.txt-dis-log-num{
  display: inline-block;   
  direction: ltr;          
  text-align: left;       
  font-family: 'Yekan'; 
}
.txt-error{
  color: #D32F2F;
  font-size: 12px;
  font-family: 'Yekan' !important;
  display: flex !important; 
  direction: rtl;
}

@media (max-width: 768px) {
  .txt-error {
    margin-right: 30px;
  }
}
/* global.css */
input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
  padding: 0;
}
